PORT=3000
NODE_ENV="development"
DATABASE_URL="postgresql://devuser:devpassword@localhost:5433/amiguxus_dev?schema=public"
JWT_SECRET="d07e4ee2ba9f5d603192feb48d2278c2eb500538e7233883a6dcedf6789ded0d"
COOKIE_SECRET="d07e4ee2ba9f5d603192feb48d2278c2eb500538e7233883a6dcedf6789ded0d"
API_BASE_URL="http://localhost:3000"
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD="devpassword"